html {
	--primary-color: #03a9f4;
	--font-color: #747a87;
	--footer-color: #333;

	--green: #3fc7b0;
	--orange: #f67a68;
	--blue: #339bc2;
	--red: #c83f43;
	--purple: #a96eb7;
	--brown: #be8864;
}

body {
	margin: 0;
	font-family: 'Agency FB';
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0;
}

nav a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	margin: 0 20px;
}

nav a:hover {
	color: var(--primary-color);
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
}
h1{
	color: white;
}
.section1{
	text-align: center;
	padding: 240px 0;
	background-image: url("../html/projects.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.section1  {
	color: white;
	text-transform: uppercase;
	text-align: center;
}
.section1 a{
	background-color: blue;
	color: black;
	text-decoration: none;
	padding: 10px 13px;
	border-radius: 999px;
	color: white;
	font-size: large;
    font-size: 15px;
    font-size: 50%;
}
.section1 {
    font-size: large;
    font-size: 115px;
    font-size: 250%;
}
.section1 p{
    font-size: large;
    font-size: 15px;
    font-size: 50%;
}
.section2 h1{
    color: black;
    text-decoration: none;
    font-style: 80px;
    padding: 0px 30px;
}
.section2 p{
    font-family: Agency FB;
    padding: 0px 30px;
}
.section2 .pile{
	height: 400px;
	margin: 20px 0;
	padding: 0 20px;
}
.section2 img{
	padding: 0px 20px;
}
.section3 {
	text-align: center;
}
.section3 a{
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 999px;
}
.section3{
	text-align: center;
	padding: 240px 0;
	background-image: url("../html/contact.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.section3 img{
    height: auto;
    width: 40%
}
.section3 {
    font-size: large;
    font-size: 115px;
    font-size: 250%;		
}
.section3 a{
	font-size: large;
    font-size: 15px;
    font-size: 50%;
}
.section3 {
    color: white;
}
.section3 p{
   font-size: large;
    font-size: 15px;
    font-size: 50%;
}
.footer{
	box-sizing: border-box; /* This makes sure the padding is counted in the width */
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--footer-color);
	color: white; 
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
}

.footer a {
	display: inline-block;
	background-color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 999px;
}